@import "variable.css";

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* FOR HEADER */
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 15px;
     background-color: var(--bg);
     border-bottom: 4px solid var(--fullstack);
     color: white;

}
header span{
     color: var(--fullstack);
}
.nav{
     display: flex;
     padding: 5px;
     gap: 0.8rem;
}
div a{
     color: white;
     text-decoration: none;
     font-size: 1.1rem;
}
div a img{
     border:2px solid white;
     border-radius: 10px;
     padding: 5px;
}
/* MAİN KISMI */

.img{
     background-image: url(/showcase.jpg);
     background-size: cover;
     background-position: center;
     height: 20rem;
     display: flex;
     justify-content: center;
     text-align: center;
     
}
div a img:hover{
     animation: yanipSon 3s infinite;
     border-color: red;
     
}

.text{
     text-align: center;
     color: white;

}
.text h1{
     font-size: 3rem;
     margin-top: 15px ;
}

.text p{
     margin:  0 2rem;
     font-size: 14px;
     margin-top: 2rem;
}
/* ARTICLE KISMI */
     .article{
          display: flex;
          justify-content: space-between;
          padding: 1.1rem;
          margin: 10px 50px;
          background-color:  var(--bg);
          color: white;
          white-space: nowrap;
          border-radius: 5px;
     }
     .article p{
          font-weight: 800;
          font-size: 1.2rem;
     }
     .article input{
          background-color: wheat;
          color: black;
          padding: 0.5rem;
          border-radius: 5px;
          transition: 0.5s;
     }
     .article input:focus{
          background-color: aliceblue;
          color: black;
     }
     .article button{
          padding: 8px;
          border-radius: 5px;
          border: 1px solid none;
          font-weight: 600;
          transition: 0.5s;
     }  
     .article button:hover{
          border-color: orange;
          color: orange;
          font-weight: 600;
     }   
     /* SECTION KISMI */
     .section{
          display: flex;
          gap: 1rem;
          font-size: 14px;
          text-align: center;
          margin:  1.2rem;
     }
     .section img{
          width:30%;
     }
     .section h3,p{
          margin-top: 10px;
     }
     /*FOOTER*/
     /*
     .footer{
          text-align: center;
          background-color: var(--bg);
          color: bisque;
          padding: 2rem;
          position: relative;
          bottom: 0;
          left: 0;
          width: 100%;
     }
     */
     footer{
          text-align: center;
          background-color: var(--bg);
          color: bisque;
          padding: 2rem;
     }
     footer img{
          width: 200px;
          margin-top: 20px;
     }
     @media screen and(max-width:600px){
          header, section, article{
               flex-direction: column;
          }
     }
     @keyframes yanipSon {
          0%{
               opacity: 1;
          }
          50%
          {
               opacity: 0;
          }
          100%
          {
               opacity: 1;
          }
          
     }


